/*Universal*/
/* * {
    border: 1px red solid;
} */


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #222d48;
    --secondary-color: #ec6c05;
    --tertiary-color: #fff; 
    --quaternary-color: #000;
}
  
body {
    background: var(--primary-color);
    color: var(--tertiary-color);
}
  
/*Header*/
  
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 20px;
}
  
h1 {
    font-family: arial;
    font-size: 2.5rem;
    text-transform: uppercase;
}
  
nav {
    display: flex;
    align-items: center;
}
  
/*Main*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 500px){
    section {
        max-width: 500px;
    }
}
  
div.box {
    height: 30%;
    width: auto;
    background-color: var(--tertiary-color);
    border: var(--secondary-color) solid 10px;
    margin: 5px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    text-align: center;
    display: none;
}

.button-div {
    display: flex;
    justify-content: center;
}

button {
    display: block;
    height: 50px;
    width: 100%;
    margin: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2px;
}